server {
  listen ${NGINX_TRACE_PORT};
  location / {
    proxy_pass http://trace-service:8080;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
  }
}

server {
  listen ${NGINX_LANDSCAPE_PORT};
  location / {
    proxy_pass http://landscape-service:8080;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
  }
}
